body {
    background-color: rgb(81, 80, 76, 1);
}

#gameBoard {
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 80px;
    width: 80px;
}

.light-square {
    background-color: rgb(184, 135, 98, 1);
}

.dark-square {
    background-color: rgb(237, 214, 176, 1);
}