/* Page */
html {
    height: 100%;
    background: linear-gradient(180deg, rgba(49,48,44,1) 0%, rgba(81,80,76,1) 100%);
}

#content {
    display: flex;
    justify-content: center;
}

#viewBox {    
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* Game Board & squares styles */
#gameBoard {
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 80px;
    width: 80px;
    position: relative;
}
.dark-square {
    background-color: rgb(184, 135, 98, 1);
}
.light-square {
    background-color: rgb(237, 214, 176, 1);
}

.dark-square.highlighted {
    background-color: rgb(220, 195, 75, 1);
}
.light-square.highlighted {
    background-color: rgb(246, 235, 114, 1);
}

.dark-square.lastMove {
    background-color: rgb(200, 170, 50, 1);
}
.light-square.lastMove {
    background-color: rgb(225, 210, 90, 1);
}

.dark-square.selected {
    background-color: rgb(225, 105, 84, 1);
}
.light-square.selected {
    background-color: rgb(235, 121, 99, 1);
}

.square.possibleMove::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.dark-square.possibleMove::after {
    background-color: rgba(158, 116, 84, 1);
}
.light-square.possibleMove::after {
    background-color: rgba(204, 184, 151, 1);
}

.square.possibleTake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.dark-square.possibleTake::before {
    border: 7px solid rgba(158, 116, 84, 1);
}
.light-square.possibleTake::before {
    border: 7px solid rgba(204, 184, 151, 1);
}


/* Board coordinates */
.coordinatesBox {
    position: absolute;
    display: grid;
    margin-right: 80px;
    grid-template-columns: 80px 640px;
    grid-template-rows: 640px 80px;
}
.coordinates-ordinate {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.coordinates-abscissa {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.coordinate {
    color: rgb(168, 168, 168);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
}

/* Pieces */
.piece {
    z-index: 0;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piece svg {
    stroke-width: 1px;
    width: 60px;
    height: 60px;
}

.player-black {
    fill: #474543;
}
.player-white {
    fill: #f7f5f3;
}